<h1>Здравствуйте, {{username}}!</h1>
<p>Для получения сообщений о появлении в вашем отделе новой работы, необходимо подтвердить ваш email.</p>
<p> Для этого необходимо пройти по ссылке ниже.</p>
<small><i>(Щёлкнуть по ней, или скопировать и вставить в адресную строку браузера.)</i></small>
<p>
  <a href='{{url}}' target="_blank">{{url}}</a>
</p>
<small><i>Если вы не совершали этот запрос, пожалуйста, проигнорируйте это письмо.</i></small>
