<h1>Здравствуйте, {{username}}!</h1>
<p>Для получения сообщений о появлении в вашем отделе новой работы, необходимо пройти по ссылке ниже.</p>
<small>(Щёлкнуть по ней, или скопировать и вставить в адресную строку браузера.)</small>
<p>
	<a href='{{url}}' target="_blank">{{url}}</a>
</p>
<small><i>Если вы не совершали этот запрос, пожалуйста, проигнорируйте это письмо.</i></small>
